@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;

}
header{
    background-color: black;
    color: white;
    text-align: center;

}
header >h1{
    padding-top: 50px;
    font-variant: small-caps;

}
header{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section> p{
    padding-bottom: 10px;
}
section.normal{
    background-color: white;
    

}
section.imagem{
    background-color: rgba(48, 44, 44, 0.507);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.404);
}
section.imagem>p{
    background-color: rgba(58, 51, 51, 0.541);
    display: inline-block;
    padding: 10px;
    
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}